<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <h1>Lista de Productos</h1>
{{#each products}}
<h1>{{this.title}}</h1>
<p>{{this.price}}</p>
{{/each}}
</body>
</html>
<script src="socket.io/socket.io.js"></script>
<script src="/index.js"></script>
